<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon Crawler</title>
    <link rel="stylesheet" href="titlePage.css">
</head>
<body>
    <div class = "container">
        <h1>Dungeon Crawler</h1>
        <button class = "start_new" id = "start_new"> Start New</button>
        <button class = "continue" id = "continue"> Continue </button>
    </div>
    <script src = "./js/titlePage.js"></script>
</body>
</html>